<!DOCTYPE html>
<html lang="en">

<body>

	<br>
	<br>
	<br>

	<div class="container">

		<div class="table-bx">
			<div class="h3">Создание нового конфигурационного файла</div>

			<div class="step-bx">
				<div class="h4">Шаг 1. Создание пространства моделирования</div>

				<div class="select-inf-item">
					<div class="lbl">
						Название сценария
						<div class="hint-bx">
							<div class="opener"><img src="img/info-circle.svg" alt=""></div>
							<div class="frame">Всплывающая информация по данному полю</div>
						</div>
					</div>
					<input type="text" placeholder="Текст">
					
				</div>

				<div class="select-inf-item">
					<div class="lbl">
						Размерность пространства
						<div class="hint-bx">
							<div class="opener"><img src="img/info-circle.svg" alt=""></div>
							<div class="frame">Всплывающая информация по данному полю</div>
						</div>
					</div>
					<div class="select">
					<select>
						<option value="">Выберите</option>
						<option value="">Выберите размерность пространства</option>
						<option value="">Выберите размерность пространства</option>
					</select>
					</div>
					
				</div>

				<div class="select-inf-item">
					<div class="lbl">
							Границы пространства
							<div class="hint-bx">
								<div class="opener"><img src="img/info-circle.svg" alt=""></div>
								<div class="frame">Всплывающая информация по данному полю</div>
							</div>
					</div>
					<input type="text" placeholder="Число">
					<div class="sel-over">
						<div class="lbl">
							Ед. изм.
							<div class="hint-bx">
								<div class="opener"><img src="img/info-circle.svg" alt=""></div>
								<div class="frame">Всплывающая информация по данному полю</div>
							</div>
						</div>
						<div class="select">
						<select>
							<option value="">Выберите</option>
							<option value="">Ед. Изм.</option>
						</select>
						</div>
					</div>
				</div>

				<div class="ch-group">
					<label class="check-item">
						<input type="checkbox" checked>
						<span>
							Учитывать гравитационные взаимодействия
							<div class="hint-bx">
								<div class="opener"><img src="img/info-circle.svg" alt=""></div>
								<div class="frame">Всплывающая информация по данному полю</div>
							</div>
						</span>
					</label>
					<label class="check-item">
						<input type="checkbox" >
						<span>
							Учитывать мой стаж работы
							<div class="hint-bx">
								<div class="opener"><img src="img/info-circle.svg" alt=""></div>
								<div class="frame">Всплывающая информация по данному полю</div>
							</div>
						</span>
					</label>
				</div>

				<div class="select-inf-item">
					<div class="lbl">
							Коэффицент восстановления
							<div class="hint-bx">
								<div class="opener"><img src="img/info-circle.svg" alt=""></div>
								<div class="frame">Всплывающая информация по данному полю</div>
							</div>
					</div>
					<input type="text" placeholder="Число">
				</div>
				
				<div class="back-bx">
					<a href="" class="btn btn-framed">Назад</a>
					<a href="" class="btn btn-next">Далее</a>
				</div>
			</div>

		</div>

	</div>


	<div class="overlay"></div>
	<div class="popup popup-video">
		<div class="close"><img src="img/close.svg" alt=""></div>
		<div class="vid-bx"><img src="img/1.png" alt=""></div>
		<div class="btn-wr">
			<a href="" class="btn btn-framed">Назад</a>
			<a href="" class="btn btn-filled">Сохранить</a>
		</div>
	</div>


	<br>
	<br>
	<br>

	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/js.js"></script>
</body>
</html>